.custom-snackbar {
  min-width: 400px;
  max-width: 600px;
  min-height: 100px;
  background-color: #323232;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
