.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  table.mat-mdc-table {
    min-width: 0 !important;
    width: 90% !important;
    margin: 0 auto 10px auto;
  }

  .button-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
  }
.appointmentBtm {

  color: black;
  }

}
